.modal-popup .vkuiModalCard__in {
  max-width: 630px !important;
  width: 90%;
}
.modal-popup .vkuiModalCardBase__header {
  font-size: 28px;
}
.modal-popup .vkuiModalCardBase__container {
  padding: 30px 90px !important;
}
.modal-input-two {
  display: flex;
  gap: 8px;
  margin-bottom: 24px;
}

.modal-input-two-input {
  max-width: 249px;
}

.button-modal {
  background-color: #447bba !important;
  padding-left: 27px;
  padding-right: 27px;
  width: 65%;
}

.button-modal-two {
  color: #447bba !important;
  background-color: #fff !important;
  border: solid #447bba;
}
.button-modal-three {
  color: #447bba !important;
  background-color: #fff !important;
  border: solid #447bba;
  padding-left: 25px;
  padding-right: 25px;
}

.modal-popup .vkuiModalDismissButton {
  right: 0px;
}

.modal-popup-s .vkuiModalCard__in {
  max-width: 450px !important;
  width: 90%;
}

.modal-popup-s .vkuiModalCardBase__header {
  font-size: 28px;
  text-align: left;
  padding: 0;
}
.modal-popup-s .modal-input-two {
  padding: 0;
  margin-top: 20px;
}

.modal-popup-s .button-modal {
  padding-left: 20px;
  padding-right: 20px;
  width: 65%;
}
.radiodiv-modal {
  margin-top: 20px;
  fill: #5181b8;
}
.radiodiv-modal label {
  padding: 0;
}

.modal-popup-s .vkuiModalDismissButton {
  right: 0px;
}
.vkuiInternalTabbar {
  display: flex;
  justify-content: center;
}
.tabbar-div {
  width: 50%;
  display: flex;
}

.add-media .vkuiModalPage__in-wrap {
  max-width: 750px !important;
}

.add-media .vkuiModalPage__in {
  width: 750px !important;
  margin: 0 auto !important;
  padding: 20px;
}

.button-add-media {
  width: 100%;
  background-color: #447bba !important;
}

.modal-title {
  font-size: 28px;
  font-weight: bold;
}
.modal-subtitle {
  font-size: 13px;
  color: #6f7985;
}

.add-media .button-modal-two {
  background-color: #447bba !important;
  color: #fff !important;
  width: 49%;
}
.add-media .button-modal-three {
  color: #447bba !important;
  background-color: #fff !important;
  border: solid #447bba;
  padding-left: 25px;
  padding-right: 25px;
  width: 49%;
}

.add-media .vkuiModalDismissButton {
  right: 0px;
}

.language-popover {
  margin-top: -500px;
}
