.node-shape {
  fill: #fff;
  stroke: rgba(68, 123, 186, 1);
  stroke-width: 2px;
}

.node-shape-women {
  fill: #fff;
  stroke: #ff748d;
  stroke-width: 2px;
}

.user-name {
  font-family: sans-serif;
  font-size: 16px;
  fill: #333;
  font-weight: 600;
}

.user-year {
  font-family: sans-serif;
  font-size: 14px;
  fill: #666;
  font-weight: 400;
}
