.node-shape {
  fill: #fff;
  stroke: rgba(68, 123, 186, 1);
  stroke-width: 2px;
}
.node-shape-add-partner {
  fill: rgba(68, 123, 186, 1);
  stroke: rgba(68, 123, 186, 1);
  stroke-width: 2px;
}

.node-shape-modal {
  fill: #fff;
  stroke: #fff;
  stroke-width: 2px;
}

.node-shape-women {
  fill: #fff;
  stroke: #ff748d;
  stroke-width: 2px;
}

.user-name {
  font-family: sans-serif;
  font-size: 16px;
  fill: #333;
  font-weight: 600;
}

.user-year {
  font-family: sans-serif;
  font-size: 14px;
  fill: #666;
  font-weight: 400;
}

.user-add-name {
  font-family: sans-serif;
  font-size: 16px;
  fill: #fff;
  font-weight: 600;
}

.user-add-year {
  font-family: sans-serif;
  font-size: 15px;
  fill: #fff;
  font-weight: 400;
}
.family-modal {
  background: rgba(0, 0, 0, 0.6);
}
.family-modal .vkuiModalPage__in-wrap {
  max-width: 120% !important;
  max-height: 100% !important;
}

.family-modal .vkuiModalPage__in {
  background-color: transparent;
  box-shadow: none;
}
.family-modal .bft-light {
  background-color: transparent;
}
